spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ordify
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
